body {
	
	background: #2380b5 url('/img/design/gradient.png') 0px 0px repeat-x;
}

#page {
	background: #725024;
}

.button {
	background: #329BD5;

	&:hover {
		background: #37AFF2;
	}
}

.button.sending, .button.sending:hover {
//.button, .button:hover {
	background: #777;

}

.alert {
	background-color: #DFE6B0;
}
.alert.error {
	background-color: #F5CFC3;
}

