/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; }

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 51, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body { font-size: 112.5%; line-height: 1.444em; }

/* line 55, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body { font-size: 18px; }

/*
html, body {
	height: 100%;
}
*/
/* line 54, ../../sass/screen.scss */
body { font-family: "Helvetica Neue", sans-serif; background-color: #eee; color: #6e6357; }

/* line 2, ../../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #6c635f; font-family: museo-sans-1, museo-sans-2, "Myriad Pro", sans-serif; font-weight: 300; }

/* line 8, ../../sass/_typography.scss */
h1 { font-size: 1.6em; line-height: 0.903em; padding-top: 0em; padding-bottom: 0.903em; }
/* line 11, ../../sass/_typography.scss */
h1 i { font-style: normal; color: #6e6357; font-size: 19.8px; }

/* line 17, ../../sass/_typography.scss */
h2 { font-size: 1.4em; line-height: 1.032em; padding-top: 1.29em; padding-bottom: 0.774em; }

/* line 20, ../../sass/_typography.scss */
h3 { font-size: 1.1em; line-height: 1.313em; padding-top: 1.641em; padding-bottom: 0.985em; }

/* line 23, ../../sass/_typography.scss */
h4 { font-size: 1em; line-height: 1.444em; padding-top: 1.806em; padding-bottom: 1.083em; text-transform: uppercase; }

/* line 27, ../../sass/_typography.scss */
h5 { font-size: 1em; line-height: 1.444em; padding-top: 1.806em; padding-bottom: 1.083em; }

/* line 30, ../../sass/_typography.scss */
h6 { font-size: 1em; line-height: 1.444em; padding-top: 1.806em; padding-bottom: 1.083em; font-variant: small-caps; }

/* line 39, ../../sass/_typography.scss */
hr { height: 0px; padding: 0; margin-bottom: 0.722em; margin-top: 0.722em; border: none; border-bottom-style: solid; border-bottom-width: 0.056em; padding-bottom: 1.389em; border-color: #ccc; }

/* line 50, ../../sass/_typography.scss */
blockquote { padding: 1.444em 1.444em 1.444em 5.778em; background: #efefef; margin-bottom: 1.444em; margin-top: 1.444em; position: relative; }
/* line 57, ../../sass/_typography.scss */
blockquote:before { content: '\201C'; font-size: 200px; line-height: 200px; vertical-align: text-bottom; display: block; position: absolute; top: 0px; left: 0px; }

/* line 69, ../../sass/_typography.scss */
pre { background: rgba(255, 255, 0, 0.1); margin-bottom: 0.722em; margin-top: 0.722em; padding: 0.722em 1.444em; border-color: rgba(0, 0, 0, 0.2); border-style: dotted; border-width: 0.056em; padding: 1.389em; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }

/* line 81, ../../sass/_typography.scss */
ul { list-style: disc; padding-bottom: 1.444em; }

/* line 87, ../../sass/_typography.scss */
ol { list-style: decimal; color: red; padding-bottom: 1.444em; }
/* line 91, ../../sass/_typography.scss */
ol li { color: #6e6357; }

/* line 96, ../../sass/_typography.scss */
p + p { padding-top: 1.444em; }

/* line 100, ../../sass/_typography.scss */
p + ul, p + ol, p + dl { padding-top: 1.444em; }

/* line 107, ../../sass/_typography.scss */
a { color: #069; text-decoration: none; border-bottom: 1px dotted #069; }
/* line 112, ../../sass/_typography.scss */
a:hover { color: #0092DD; border-bottom: 1px solid #0092DD; }

/* line 120, ../../sass/_typography.scss */
dl dt { font-weight: bold; }
/* line 123, ../../sass/_typography.scss */
dl dd { padding-left: 1.444em; padding-bottom: 1.444em; }

/* line 129, ../../sass/_typography.scss */
em { font-style: italic; }

/* line 132, ../../sass/_typography.scss */
strong { font-weight: bold; }

/* line 136, ../../sass/_typography.scss */
code { font-family: monospace; font-size: 0.833em; line-height: 0em; color: #BC5401; }

/* line 144, ../../sass/_typography.scss */
figure { position: relative; }

/* line 147, ../../sass/_typography.scss */
figure img, figure object, figure embed, figure video { max-width: 100%; display: block; }

/* line 151, ../../sass/_typography.scss */
img { border: 0; -ms-interpolation-mode: bicubic; }

/* line 156, ../../sass/_typography.scss */
figure.full { margin-bottom: 2.4em; position: relative; }
/* line 161, ../../sass/_typography.scss */
figure.full img { border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
/* line 166, ../../sass/_typography.scss */
figure.full div { padding: 0 2.4em; width: 100%; position: absolute; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; bottom: 1px; }
/* line 173, ../../sass/_typography.scss */
figure.full div figcaption { display: block; max-width: 34%; min-width: 34%; background: rgba(0, 0, 0, 0.6); padding: 0.8em 1.2em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; float: right; color: #777; font-size: 0.75em; line-height: 1.637em; }
/* line 187, ../../sass/_typography.scss */
figure.full div figcaption a { color: #aaa; border-color: #777; }

/* line 198, ../../sass/_typography.scss */
abbr.weather { display: inline-block; width: 35px; height: 26px; background: url("/img/design/sunny.png") 0px 0px no-repeat; text-indent: -99999px; }

/* line 206, ../../sass/_typography.scss */
a.btn, button.btn { display: inline-block; height: 32px; line-height: 32px; -moz-border-radius: 32px; -webkit-border-radius: 32px; border-radius: 32px; padding: 0 29px 0 15px; text-transform: uppercase; text-shadow: 1px 1px 1px white; color: #828385; font-size: 11px; font-weight: bold; text-decoration: none; text-align: center; vertical-align: top; -webkit-background-clip: padding-box; border: none; position: relative; zoom: 1; }

/* line 228, ../../sass/_typography.scss */
a.grey, button.grey { background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.19, white), color-stop(1, #d4d4d7)); background-image: -moz-linear-gradient(center top, white 0%, white 19%, #d4d4d7 100%); -moz-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.7), inset 0px 1px 0px rgba(0, 0, 0, 0.18); box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.7), inset 0px 1px 0px rgba(0, 0, 0, 0.18); }

/* line 75, ../../sass/screen.scss */
#stripe { display: block; height: 3.24em; width: 50%; position: absolute; top: 2.4em; left: 0; background: #de7719; }

/* line 85, ../../sass/screen.scss */
#wrapper { background: #fff; position: relative; max-width: 1120px; border-left: 2.4em solid rgba(0, 0, 0, 0.05); float: right; -moz-background-clip: padding; -webkit-background-clip: padding; -o-background-clip: padding-box; -ms-background-clip: padding-box; -khtml-background-clip: padding-box; background-clip: padding-box; min-height: 100%; width: 100%; max-width: 1120px; }

/* line 102, ../../sass/screen.scss */
#top { overflow: auto; padding: 2.4em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
/* line 107, ../../sass/screen.scss */
#top h1 { margin: 0; padding: 0; }
/* line 110, ../../sass/screen.scss */
#top h1 a { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; padding: 0px 2.4em 0 1.56em; position: relative; font-size: 45px; height: 1.32em; color: #888; font-weight: 100; font-style: normal; font-family: museo-sans-1, museo-sans-2, "Myriad Pro", sans-serif; letter-spacing: 0.5px; text-decoration: none; margin: 0; line-height: 1.344em; width: 35%; float: left; text-align: left; border: none; }
/* line 129, ../../sass/screen.scss */
#top h1 a.active { color: #F08B39; }
/* line 133, ../../sass/screen.scss */
#top h1 a svg { width: 1.296em; height: 1.296em; position: absolute; top: 0px; left: 0px; background: #de7719; }

/* line 145, ../../sass/screen.scss */
#page { padding: 0 2.4em 2.4em 2.4em; *zoom: 1; }
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after { content: ""; display: table; clear: both; }

/* line 149, ../../sass/screen.scss */
.journal #page { width: 100%; }
/* line 152, ../../sass/screen.scss */
.journal #page h1 { width: 100%; }

/* line 156, ../../sass/screen.scss */
#top nav { width: 65%; float: left; }

/* line 161, ../../sass/screen.scss */
#top nav ul { list-style: none; font-family: museo-sans-1, museo-sans-2, "Myriad Pro", sans-serif; }

/* line 165, ../../sass/screen.scss */
#top nav li { float: left; width: 25%; }

/* line 169, ../../sass/screen.scss */
#top nav li a { display: block; line-height: 2.4em; padding-top: 0.889em; color: #666; text-align: center; border-bottom: 1px solid #ddd; font-weight: 400; text-decoration: none; font-size: 18px; text-transform: none; }

/* line 182, ../../sass/screen.scss */
#top nav li a:hover { color: #000; border-color: #333; }

/* line 187, ../../sass/screen.scss */
#top nav li.active a { color: #F08B39; border-color: #FF9003; }

/* line 192, ../../sass/screen.scss */
.intro { background: #de7719; padding: 2.4em; font-family: museo-sans-1, museo-sans-2, "Myriad Pro", sans-serif; color: #fff; font-weight: 500; margin: 0 2.4em 2.4em 0; border-bottom: 1px solid #b05e14; box-shadow: -8px 2px 4px rgba(0, 0, 0, 0.1); position: relative; left: 0px; letter-spacing: 0.5px; word-spacing: -1px; }
/* line 206, ../../sass/screen.scss */
.intro:before { display: block; content: ""; width: 0px; height: 0px; border: 10px solid; border-width: 12px 15px; border-color: transparent #995211 transparent transparent; position: absolute; bottom: -12px; left: -30px; z-index: 2; }
/* line 223, ../../sass/screen.scss */
.intro h1 { font-size: 2em; line-height: 0.722em; text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25); color: #fff; margin: 0; padding: 0; margin-right: 2.4em; }
/* line 231, ../../sass/screen.scss */
.intro h1 a { color: #fff; text-decoration: none; border: 1px dotted rgba(255, 255, 255, 0.6); padding: 7px 7px 2px 7px; background: rgba(255, 255, 255, 0.075); }
/* line 239, ../../sass/screen.scss */
.intro h1:after { display: block; content: ""; width: 14px; height: 3.168em; background: #de7719; border-left: 1px solid #b96315; position: absolute; top: 0px; left: -15px; z-index: 101; }
/* line 254, ../../sass/screen.scss */
.intro:after { content: ""; display: block; width: 0px; border: 76px solid; border-width: 3.12em 1.8em; border-color: transparent #fff transparent transparent; position: absolute; top: 0px; right: 0px; -webkit-background-clip: padding-box; }

	/*	
.intro {
	left: 0;
	margin-left: 0;
	width:62%;
	border-radius: 50px;
	border: none;
	&:after {
		display: none;
	}
}	
*/
/* line 286, ../../sass/screen.scss */
h1.hello { font-size: 40px; padding: 0; background: #D37119; padding: 1.2em; line-height: 1em; color: #fff; }
/* line 293, ../../sass/screen.scss */
h1.hello strong { font-weight: bold; }

/* line 299, ../../sass/screen.scss */
section.content { width: 66%; float: left; padding-right: 2.4em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

/* line 305, ../../sass/screen.scss */
aside.sidebar { width: 34%; padding: 2.4em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; *zoom: 1; float: left; background: #e7f3ff; }
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
aside.sidebar:after { content: ""; display: table; clear: both; }

/* line 315, ../../sass/screen.scss */
aside.blank { width: 34%; float: left; border-top: 1px solid #ccc; padding-bottom: 1.2em; }

/* line 326, ../../sass/screen.scss */
aside.sidebar h2 { font-size: 1.3em; line-height: 1.111em; padding-top: 0em; padding-bottom: 1.111em; }

/* line 333, ../../sass/screen.scss */
#learning { *zoom: 1; clear: left; }
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#learning:after { content: ""; display: table; clear: both; }

/* line 337, ../../sass/screen.scss */
#stream_graph { height: 200px; }

/* line 341, ../../sass/screen.scss */
section.work_thumbs { *zoom: 1; margin-bottom: 2.4em; }
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section.work_thumbs:after { content: ""; display: table; clear: both; }

/* line 345, ../../sass/screen.scss */
section.work_thumbs article { width: 32%; float: left; margin-right: 2%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
/* line 351, ../../sass/screen.scss */
section.work_thumbs article:nth-child(4n) { margin-right: 0; }
/* line 355, ../../sass/screen.scss */
section.work_thumbs article figure { position: relative; border: 5px solid #eee; }
/* line 357, ../../sass/screen.scss */
section.work_thumbs article figure figcaption { position: absolute; top: -5px; left: -5px; background: rgba(204, 204, 204, 0.8); color: #000; font-size: 16px; padding: 0.289em 1.083em; border-radius: 0 0 11px 0; }

/* line 384, ../../sass/screen.scss */
section.work article { width: 100%; overflow: auto; padding-bottom: 2.4em; }

/* line 389, ../../sass/screen.scss */
section.work div.meta { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; display: block; padding: 0px 2.4em 0 0px; float: left; width: 35%; }

/* line 398, ../../sass/screen.scss */
section.work div.meta h2 { padding-top: 0; }

/* line 401, ../../sass/screen.scss */
section.work div.meta p { font-size: 0.833em; line-height: 1.473em; }

/* line 407, ../../sass/screen.scss */
section.work div.meta time { display: block; font-size: 0.833em; line-height: 1.473em; padding-bottom: 1.444em; }

/* line 413, ../../sass/screen.scss */
section.work div.meta time { display: block; padding-bottom: 0.722em; }

/* line 418, ../../sass/screen.scss */
section.work figure { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 65%; float: left; padding: 7px 0 0 0; box-shadow: -5px 8px 12px rgba(0, 0, 0, 0.15); background: #eee; border: 1px solid #999; border-radius: 5px; background: -webkit-linear-gradient(top, #efefef 0%, #999999 15%); }
/* line 432, ../../sass/screen.scss */
section.work figure img { width: 100%; border-top: 1px solid #666; clear: left; }
/* line 438, ../../sass/screen.scss */
section.work figure a.fullscreen { display: block; width: 11px; height: 11px; border-radius: 12px; text-indent: -99999px; background-color: #49AA00; border: 1px solid; float: left; margin: 5px 10px 0 10px; background: #8dea46; background: -moz-linear-gradient(top, #8dea46 1%, #10a000 15%, #10a000 33%, #65ed00 91%, #ace87a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #8dea46), color-stop(15%, #10a000), color-stop(33%, #10a000), color-stop(91%, #65ed00), color-stop(100%, #ace87a)); background: -webkit-linear-gradient(top, #8dea46 1%, #10a000 15%, #10a000 33%, #65ed00 91%, #ace87a 100%); background: -o-linear-gradient(top, #8dea46 1%, #10a000 15%, #10a000 33%, #65ed00 91%, #ace87a 100%); background: -ms-linear-gradient(top, #8dea46 1%, #10a000 15%, #10a000 33%, #65ed00 91%, #ace87a 100%); background: linear-gradient(top, #8dea46 1%, #10a000 15%, #10a000 33%, #65ed00 91%, #ace87a 100%); }
/* line 460, ../../sass/screen.scss */
section.work figure p.url { background: #fff; font-size: 12px; width: 60%; float: left; padding: 0px 4px; line-height: 22px; border-top: 1px solid #aaa; border-right: 1px solid #aaa; border-left: 1px solid #ccc; border: 1px solid #aaa; margin-bottom: 6px; }
/* line 474, ../../sass/screen.scss */
section.work figure.glassescomplete p.url { background: white url("http://glassescomplete.co.uk/favicon.ico") 3px 3px no-repeat; padding-left: 21px; }

/* line 483, ../../sass/screen.scss */
.breakdown { text-align: left; margin: 20px 0 1em 0; width: 100%; }

/* line 484, ../../sass/screen.scss */
.breakdown th { font-weight: normal; font-size: 14px; width: 50%; }

/* line 485, ../../sass/screen.scss */
.breakdown td { padding: 5px; width: 50%; }

/* line 490, ../../sass/screen.scss */
.breakdown td span { display: block; width: 100%; height: 10px; background: #ddd; position: relative; }

/* line 497, ../../sass/screen.scss */
.breakdown td span span { position: absolute; top: 0px; left: 0px; background: #555; }

/* line 505, ../../sass/screen.scss */
.breakdown td span.percent10 { width: 14px; }

/* line 506, ../../sass/screen.scss */
.breakdown td span.percent20 { width: 28px; }

/* line 507, ../../sass/screen.scss */
.breakdown td span.percent30 { width: 42px; }

/* line 508, ../../sass/screen.scss */
.breakdown td span.percent40 { width: 56px; }

/* line 509, ../../sass/screen.scss */
.breakdown td span.percent50 { width: 70px; }

/* line 510, ../../sass/screen.scss */
.breakdown td span.percent60 { width: 84px; }

/* line 511, ../../sass/screen.scss */
.breakdown td span.percent70 { width: 98px; }

/* line 512, ../../sass/screen.scss */
.breakdown td span.percent80 { width: 112px; }

/* line 513, ../../sass/screen.scss */
.breakdown td span.percent90 { width: 126px; }

/* line 516, ../../sass/screen.scss */
ul.social { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; margin: 0; padding: 0 0 4.8em 0; }
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.social li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.social li:first-child, ul.social li.first { padding-left: 0; }
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.social li:last-child { padding-right: 0; }
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.social li.last { padding-right: 0; }
/* line 520, ../../sass/screen.scss */
ul.social li { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 15%; margin-right: 2%; padding: 0; border: 5px solid #eee; background: #ccc; height: 7.2em; position: relative; }
/* line 528, ../../sass/screen.scss */
ul.social li:nth-child(6n) { margin-right: 0; }
/* line 532, ../../sass/screen.scss */
ul.social li:before { display: block; content: ""; width: 100%; padding: 0 5px; height: 2.4em; border: 0px solid; background: #eee; position: absolute; bottom: -2.4em; left: -5px; z-index: 101; }

/*
figcaption.about_pic {
	width: $sidebar-column;
	display: block;
	/*position: absolute; */
	/*bottom: (-$gutter * 1.5); */
	/*right: 0px; */
	padding: $gutter $gutter 0 $gutter;
	@include adjust-font-size-to(($base-font-size * 0.75), 0.8);
	@include box-sizing('border-box');
	font-style: italic;
	background: url('/img/design/caption_arrow.png') 0px 22px no-repeat;
	float: right;
	margin: (-$gutter) 0 $gutter 0;
	/*margin-right: $gutter; */
}
*/
/*
footer#bottom {
	background: #333;
	padding: ($gutter / 2);
	position: relative;
	&:after {
		display: block;
		content: "";
		width: 12px;
		height: $gutter;
		background: #333;
		position: absolute;
		top: 0px;
		left: -12px;
	}
}
*/
